<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/landing/admin"></ion-back-button>
    </ion-buttons>
    <ion-title>Treinos</ion-title>
    <ion-spinner
      slot="end"
      name="dots"
      *ngIf="this.exerciseInfoStore.loading"
    ></ion-spinner>
    <ion-chip slot="end" outline="false" *ngIf="authInfoStore.isLoggedIn">
      <ion-avatar>
        <ng-container
          *ngIf="authInfoStore.imageUrl === ''||authInfoStore.imageUrl===undefined; else userImage"
        >
          <ion-icon name="person" size="large" aria-hidden="true"></ion-icon>
        </ng-container>
        <ng-template #userImage>
          <ion-img [src]="authInfoStore.imageUrl"></ion-img>
        </ng-template>
      </ion-avatar>
      <ion-label>{{ authInfoStore.user }}</ion-label>
    </ion-chip>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col sizeLg="8" *ngIf="!this.trainingInfoStore.loading">
        <form #f="ngForm">
          <ion-item *ngIf="!this.trainingInfoStore.trainings.length">
            <ion-label>Nenhum treino cadastrado</ion-label>
          </ion-item>
          <ion-card
            *ngFor="let training of this.trainingInfoStore.trainings; let trainingIndex = index"
          >
            <ion-item id="cardTitle">
              <ion-icon name="pulse-outline" slot="start"></ion-icon
              >{{training.name |titlecase}}</ion-item
            >

            <div *ngIf="(editItem && trainingIndex===trainingSelectedIndex)">
              <ion-item>
                <ion-label position="stacked">Treino:</ion-label>
                <ion-input
                  type="text"
                  name="trainingName"
                  [ngModel]="this.trainingInfoStore.trainings[trainingIndex].name"
                  placeholder="{{this.trainingInfoStore.trainings[trainingIndex].name}}"
                  required=""
                ></ion-input>
              </ion-item>
              <div
                *ngFor="let exercise of training.exercises; let exerciseIndex=index"
              >
                <ion-item>
                  <ion-label position="stacked"
                    >Exercício {{exerciseIndex +1}}:</ion-label
                  >
                  {{this.trainingInfoStore.trainings[trainingIndex].exercises[exerciseIndex].name
                  |titlecase}}
                  <ion-button
                    slot="end"
                    size="small"
                    fill="clear"
                    color="light"
                    (click)="onRemoveExercise(trainingIndex,exerciseIndex)"
                  >
                    <ion-icon name="remove-outline"></ion-icon>
                  </ion-button>
                </ion-item>
              </div>
              <div *ngIf="showAddExercise">
                <ion-item>
                  <ion-label position="stacked">Exercício:</ion-label>
                  <ion-select
                    name="newEx"
                    required
                    ngModel
                    placeholder="Selecione o exercício"
                  >
                    <ion-select-option
                      *ngFor="let exercise of exerciseInfoStore.exercises"
                      [value]="exercise"
                      >{{ exercise.name | titlecase }}
                    </ion-select-option> </ion-select
                  ><ion-spinner
                    class="ion-float-right"
                    *ngIf="this.exerciseInfoStore.loading"
                  ></ion-spinner>
                </ion-item>
                <ion-item>
                  <ion-button
                    slot="end"
                    size="small"
                    fill="clear"
                    color="success"
                    (click)="onAddExercise(trainingIndex,f)"
                    [disabled]="!f.valid"
                  >
                    <ion-icon name="checkmark-outline"></ion-icon>
                  </ion-button>

                  <ion-button
                    slot="end"
                    size="small"
                    fill="clear"
                    color="light"
                    (click)="onCloseAddExercise()"
                  >
                    <ion-icon name="close-outline"></ion-icon>
                  </ion-button>
                </ion-item>
              </div>
              <ion-item
                *ngIf="!showAddExercise && !(training.exercises.length > 9)"
              >
                <ion-button
                  slot="end"
                  size="small"
                  fill="clear"
                  color="light"
                  (click)="onShowAddExercise()"
                >
                  <ion-icon name="add-outline"></ion-icon>
                </ion-button>
              </ion-item>
            </div>
            <ion-item *ngIf="!(trainingIndex===trainingSelectedIndex)">
              <ion-button
                slot="end"
                size="small"
                fill="clear"
                color="light"
                (click)="onEdit(trainingIndex)"
              >
                <ion-icon name="ellipsis-vertical-outline"></ion-icon>
              </ion-button>
            </ion-item>
            <ion-item
              *ngIf="editItem && trainingIndex===trainingSelectedIndex && !showAddExercise"
            >
              <ion-button
                slot="end"
                size="small"
                fill="clear"
                color="success"
                (click)="onUpdate(f,training)"
                [disabled]="!f.valid"
              >
                <ion-icon name="checkmark-done-outline"></ion-icon>
              </ion-button>
              <ion-button
                slot="end"
                size="small"
                fill="clear"
                color="danger"
                (click)="onDelete(training)"
                *ngIf="editItem && trainingIndex===trainingSelectedIndex"
              >
                <ion-icon name="trash-outline"></ion-icon>
              </ion-button>
              <ion-button
                slot="end"
                size="small"
                fill="clear"
                color="light"
                (click)="onReturn()"
                *ngIf="editItem && trainingIndex===trainingSelectedIndex"
              >
                <ion-icon name="close-outline"></ion-icon>
              </ion-button>
            </ion-item>
          </ion-card>
          <!-- Início de elemento para novo treino -->
          <ion-card>
            <div *ngIf="newItem">
              <ion-item>
                <ion-label position="stacked">Treino:</ion-label>
                <ion-input
                  type="text"
                  name="trainingName"
                  ngModel
                  placeholder="Nome do treino"
                  required=""
                ></ion-input>
              </ion-item>
              <div
                *ngFor="let exercise of this.trainingInfoStore.trainingSelected.exercises; let exerciseIndex = index"
              >
                <ion-item>
                  <ion-label position="stacked"
                    >Exercício {{exerciseIndex +1}}:</ion-label
                  >
                  {{exercise.name|titlecase}}<ion-button
                    slot="end"
                    size="small"
                    fill="clear"
                    color="light"
                    (click)="onRemoveExerciseForNewTraining(exerciseIndex)"
                  >
                    <ion-icon name="remove-outline"></ion-icon>
                  </ion-button>
                </ion-item>
              </div>
              <ion-item *ngIf="!showAddExerciseForNewTraining "
                >Adicionar exercício
                <ion-button
                  slot="end"
                  size="small"
                  fill="clear"
                  color="light"
                  (click)="onShowAddExerciseForNewTraining()"
                >
                  <ion-icon name="add-outline"></ion-icon>
                </ion-button>
              </ion-item>
              <ion-item *ngIf="showAddExerciseForNewTraining">
                <ion-label position="stacked">Exercício:</ion-label>
                <ion-select
                  name="exAddedForNewTraining"
                  required
                  ngModel
                  placeholder="Selecione o novo exercício"
                >
                  <ion-select-option
                    *ngFor="let ex of exerciseInfoStore.exercises"
                    [value]="ex"
                    >{{ ex.name | uppercase }}
                  </ion-select-option> </ion-select
                ><ion-spinner
                  class="ion-float-right"
                  *ngIf="this.exerciseInfoStore.loading"
                ></ion-spinner>
              </ion-item>
              <ion-item *ngIf="showAddExerciseForNewTraining">
                <ion-button
                  slot="end"
                  size="small"
                  fill="clear"
                  color="success"
                  (click)="onAddExerciseForNewTraining(f)"
                  [disabled]="!f.valid"
                >
                  <ion-icon name="checkmark-outline"></ion-icon>
                </ion-button>
                <ion-button
                  slot="end"
                  size="small"
                  fill="clear"
                  color="light"
                  (click)="onCloseAddExerciseForNewTraining()"
                >
                  <ion-icon name="close-outline"></ion-icon>
                </ion-button>
              </ion-item>
              <ion-item *ngIf="!showAddExerciseForNewTraining">
                <ion-button
                  slot="end"
                  size="small"
                  fill="clear"
                  color="success"
                  (click)="onCreate(f)"
                  [disabled]="!f.valid"
                >
                  <ion-icon name="checkmark-done-outline"></ion-icon>
                </ion-button>

                <ion-button
                  slot="end"
                  size="small"
                  fill="clear"
                  color="light"
                  (click)="onReturn()"
                >
                  <ion-icon name="close-outline"></ion-icon>
                </ion-button>
              </ion-item>
            </div>
            <div *ngIf="!newItem">
              <ion-item lines="none"
                ><ion-button
                  slot="end"
                  size="small"
                  fill="clear"
                  color="light"
                  (click)="onNew()"
                >
                  <ion-icon name="add-outline"></ion-icon> </ion-button
              ></ion-item>
            </div>
          </ion-card>
          <!-- Fim de elemento para novo treino -->
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
