<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/landing/admin"></ion-back-button>
    </ion-buttons>
    <ion-title>Grupo muscular</ion-title>
    <ion-spinner
      slot="end"
      name="dots"
      *ngIf="this.muscleInfoStore.loading"
    ></ion-spinner>
    <ion-chip slot="end" outline="false" *ngIf="authInfoStore.isLoggedIn">
      <ion-avatar>
        <ng-container
          *ngIf="authInfoStore.imageUrl === ''||authInfoStore.imageUrl===undefined; else userImage"
        >
          <ion-icon name="person" size="large" aria-hidden="true"></ion-icon>
        </ng-container>
        <ng-template #userImage>
          <ion-img [src]="authInfoStore.imageUrl"></ion-img>
        </ng-template>
      </ion-avatar>
      <ion-label>{{ authInfoStore.user }}</ion-label>
    </ion-chip>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col sizeLg="8" *ngIf="!this.muscleInfoStore.loading">
        <form #f="ngForm">
          <ion-item *ngIf="!this.muscleInfoStore.muscles.length">
            <ion-label>Nenhum grupo muscular cadastrado</ion-label>
          </ion-item>
          <ion-card
            *ngFor="let muscle of this.muscleInfoStore.muscles; let i = index"
          >
            <ion-item id="cardTitle"
              ><ion-icon name="body-outline" slot="start"></ion-icon
              >{{muscle.name |titlecase}}</ion-item
            >
            <div *ngIf="editItem && i===selectedIndex">
              <ion-item>
                <ion-label position="stacked">Grupo Muscular:</ion-label>
                <ion-input
                  type="text"
                  placeholder="{{this.muscleInfoStore.muscles[i].name}}"
                  name="muscleName"
                  [ngModel]="this.muscleInfoStore.muscles[i].name"
                  required
                ></ion-input>
              </ion-item>
            </div>
            <ion-item>
              <ion-button
                slot="end"
                size="small"
                fill="clear"
                color="light"
                (click)="onEdit(i)"
                *ngIf="!(editItem && i===selectedIndex)"
              >
                <ion-icon name="ellipsis-vertical-outline"></ion-icon>
              </ion-button>

              <ion-button
                slot="end"
                size="small"
                fill="clear"
                color="success"
                (click)="onUpdate(f.value.muscleName,muscle)"
                *ngIf="editItem && i===selectedIndex"
                [disabled]="!f.valid"
              >
                <ion-icon name="checkmark-done-outline"></ion-icon>
              </ion-button>
              <ion-button
                slot="end"
                size="small"
                fill="clear"
                color="danger"
                (click)="onDelete(muscle)"
                *ngIf="editItem && i===selectedIndex"
              >
                <ion-icon name="trash-outline"></ion-icon>
              </ion-button>
              <ion-button
                slot="end"
                size="small"
                fill="clear"
                color="light"
                (click)="onReturn()"
                *ngIf="editItem && i===selectedIndex"
              >
                <ion-icon name="close-outline"></ion-icon>
              </ion-button>
            </ion-item>
          </ion-card>
          <ion-card>
            <ion-item *ngIf="newItem">
              <ion-label position="stacked">Grupo muscular:</ion-label>
              <ion-input
                type="text"
                placeholder="nome do grupo muscular"
                name="newGroup"
                ngModel
                required
              ></ion-input>
            </ion-item>
            <ion-item *ngIf="newItem">
              <ion-button
                slot="end"
                size="small"
                fill="clear"
                color="success"
                (click)="onCreate(f)"
                [disabled]="!f.valid"
              >
                <ion-icon name="checkmark-done-outline"></ion-icon>
              </ion-button>
              <ion-button
                slot="end"
                size="small"
                fill="clear"
                color="light"
                (click)="onReturn()"
              >
                <ion-icon name="close-outline"></ion-icon> </ion-button
            ></ion-item>
            <ion-item *ngIf="!newItem" lines="none"
              ><ion-button
                slot="end"
                size="small"
                fill="clear"
                color="light"
                (click)="onNew()"
              >
                <ion-icon name="add-outline"></ion-icon> </ion-button
            ></ion-item>
          </ion-card>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
