ion-col {
  margin: auto;
  font-size: 10px;
}
ion-card {
  margin: auto;
}
ion-card-header,
ion-card {
  --background: rgb(187, 187, 187);
}

ion-img {
  padding: 20px;
  margin: auto;
  width: 200px;
}
